.amain-container {
  text-align: center;
}



.acard-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 40px;
}

.acard {
  text-align: center;
  border: 1px solid #070707 !important; 
  width: 250px;
  margin: 10px 0;
}

.ausers-card {
  background-color: #96e9eb !important; ;
}

.adoctors-card {
  background-color: #54d4bf !important; ;
}

.aappointments-card {
  background-color: #96e9eb !important; ;
}

.ausers-card,
.adoctors-card,
.aappointments-card {
  font-weight: bold !important; 
}

.acharts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.achart-container {
  width: 45%;
}

.areviews-container {
  text-align: center;
  margin-top: 20px;
}

.areviews-list {
  list-style-type: none;
  padding: 0;
}

.adoctor-review {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
}

.adoctor-info {
  margin-bottom: 10px;
}
